
<% include partials/header %>
<h3> Add a new customer </h3>

<form method="POST" action="/customer/add">
	 <label> Name: </label> <input type="text" name="name">
	 <br>
	 <label> Age: </label> <input type="number" name="age">
	 <br>
	 <input type="submit" vlaue="submit">
</form>


<br>
<h3> List of <%= title %> customers </h3>
<ul>
 <% customers.forEach(function(customer){ %>
 	<li> <%= customer.name %>  <span class="deleteUser hidden" id="<%= customer._id %>"> <a href="#">x</a> </span></li>
 <%}) %>
</ul>

<% include partials/footer %>
